<h1>Welcome to Report Hate</h1>

<p class="emphasis">With an increase in hate crimes across the AAPI community, help is needed in logging, reporting and translating the issues to the appropriate authorities.</p>
<h3>Have you been victim to a hate crime?</h3>
<a href="victim/new">Sign-up</a><br>

<h3>Would you like to volunteer?</h3>
<a href="volunteer/new">Sign-up</a><br>

<h3>Have an existing account? Login now:</h3>
<a href="/login">Login</a><br>

