/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #103852;
    margin: 0;
  }

  nav {
    background-color: #919191;
    padding: 6em 3em;
    font-weight: 700;
    font-size: 1.2em;
    color: #c9edf5;
    text-transform: uppercase;
    background-image: url(../stop_the_hate.png);
    background-position: center;
    background-size: cover;
  }

  nav a {
    text-decoration-line: none;
    color: #000000;
    margin: 0 .5em;
  }

  nav a:hover {
    color: rgb(172, 172, 172);
  }

  nav img {
    opacity: 0.5;
  } 

  h1  {
    border-bottom: 1px solid;
    padding-bottom: .5em;
  }

  li {
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 700;
    border: 1px solid #999999;
    padding: 1em;
    text-transform: capitalize;
    margin-top: .5em;
    border-radius: 3px;
  }
  
  li:hover {
    background-color: #d9f0f5;
  }